services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=postgres-db;Port=5432;Database=inventory;Username=admin;Password=admin123
      - Jwt__ValidateIssuer=false
      - Jwt__ValidateAudience=false
    networks:
      - shared-net

    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/health/live" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

networks:
  shared-net:
    external: true
